* {
	margin: 0px;
	padding: 0px;
}

#div-container {
	background-color: lightblue;
	width: 1000px;
	height: 1000px;
	margin: auto;
}

#img-palhaco {
	width: 100px;
	height: 50px;

}
img {
	width: 100px;
	height: 50px;
	margin: 10px;
}

#div-cabecalho {
	background-color: lightyellow;
	text-align: center;
	padding: 35px 0;
	font-weight: bold;
	margin: 10px;
	width: 980px;
}

#div-corpo {
	width: 1000px;
	height: 700px;
	margin: 10px;
}

#div-menu-lateral {
	float: left;
	text-align: center;
	background-color: yellow;
    width: 150px;
    height: 700px;
}

#div-conteudo {
	background-color: lightgreen;
	float: left;
    width: 820px;
    height: 700px;
    margin: 0px 10px;
}

#div-rodape {
	margin: 10px;
	background-color: cyan;
    width: 980px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    padding: 30px 0;

}

ul, li {
	margin: 10px;
}